.main-nav {
    min-height: 70px;
}

.nav-logo-text {
    color: #00285F;
}

.nav-logo-text:hover {
    color: #00285F;
}

.main-menu {
    font-size: 18px;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.main-menu a {
    color: #00285f;
}

.main-menu a.active {
    color: #00285f;
    font-weight: bold;
}

.main-menu a:hover {
    color: #00285f;
}

@media (min-width: 576px) {
    .main-nav {
        padding-left: 50px;
    }

    .main-menu {
        font-size: 18px;
    }

    .nav-logo-text h4 {
        size: 24px;
    }

}

@media (min-width: 768px) {
    .main-menu {
        display: flex;
        justify-content: space-between;
    }
}